body{
    margin: 0;
    font-family: monospace;
}
.slider{
    width: 1300px;
    min-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;
}
.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
}